<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733032382091-qm5c715no2sgl1f1eeeopo5tplt2g052.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733032382091-qm5c715no2sgl1f1eeeopo5tplt2g052</string>
	<key>API_KEY</key>
	<string>AIzaSyD6BStarz19DrSyBHjTwLLzoTnq-uZHjDg</string>
	<key>GCM_SENDER_ID</key>
	<string>733032382091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superCryptocurrencies</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-a0548</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-a0548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733032382091:ios:b052fb23da0d2a64c75e8e</string>
</dict>
</plist>